body{
  background-color: #BBF6F6;
  /*font-family: verdana, sans-serif;*/
  font-family: 'Montserrat', sans-serif;

}

h1{
  font-size: 400%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: ;
}

h2{
  font-size: 250%
}

.one{
  text-align: center;
}

.a{
  height: 200px;
}

.rc{
  margin-left: 80%;
}

.math-pic{
  height: 150px;
  width: 200px;

}

.mc{
  margin-left: 15%;
}

.mm{
  height: 200px;
  margin-left: 30%;
}
